<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Search</title>

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="d-flex navbar-nav h-100 w-100 text-md-center">
				<li class="nav-item flex-fill">
					<a class="nav-link" href="http://127.0.0.1:5000/login">Login</a>
				</li>
				<li class="nav-item flex-fill">
					<a class="nav-link" href="http://127.0.0.1:5000/signup">Sign up</a>
				</li>
			</ul>
		</div>
	</nav>

</body>
{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}


    <div class="container">

      <div class="starter-template">
        <h1>NFT aggregator</h1>
        <p class="lead">To be able to use this site, please log in to your account or sign up.</p>
      </div>

    </div><!-- /.container -->
{% endblock %}
</html>