<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Search</title>

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="d-flex navbar-nav h-100 w-100 text-md-center">
                <li class="nav-item flex-fill">
					<a class="nav-link hilite" href="index.html">Home</a>
				</li>
				<li class="nav-item flex-fill">
					<a class="nav-link" href="http://127.0.0.1:5000/login">Login</a>
				</li>
				<li class="nav-item flex-fill">
					<a class="nav-link" href="http://127.0.0.1:5000/signup">Sign up</a>
				</li>
			</ul>
		</div>
	</nav>
    <form method="POST">
        <p>
            <input type="search" name="NFTsearch" placeholder="Type NFT address">
            <input type="submit" formaction="info.html" value="Get Info">
        </p>

    </form>
</body>

</html>